*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

@mixin selections{
    width: 100px;
    font-weight: bold;
    padding: 4px 8px;
    background-color: rgb(170, 170, 172);
    border-radius: 6px;
    color: rgb(47, 46, 46);
}

.container{
    padding: 10px 25px;
}

.topBar{
    position: sticky;
    top: 0;
    background-color: #64626297;
    padding: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.485);
    width: auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .selection{
       @include selections;
       
    }
    .toolBar{
        height: 100%;
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: #111111eb;
        overflow-x: hidden; 
        padding-top: 50px; 
        p{
            color: white;
            font-size: small;
        }
        .close{
            color: #818181;
            font-size: 30px;
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
        }
        .close:hover{
            color: white;
        }

        .newsList{
            li{
                color: white;
                padding:  13px 8px;
                font-size: 17px;
                 color: #818181;
                 cursor: pointer;
            }
            li:hover{
                color: white;
            }
        }
    
    }
    
}
#content-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
     margin-top: 40px;

     .contents{
        display: flex;
        flex-direction: column;
        gap: 8px;
     }

     .contents > img{
        width: 100%;
        height: auto;
        max-width: 500px;
        
    }
}
.footerContainer{
    background-color: #d0cdcd6e;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;
}
.footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 12;
}

.skeleton-card {
    width: 100%;
    max-width: 500px;
    height: 300px;
    background: linear-gradient(-90deg, #e0e0e0 0%, #f5f5f5 50%, #e0e0e0 100%);
    background-size: 400% 400%;
    border-radius: 8px;
    animation: pulse 1.2s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  

@media  screen and (max-width: 600px) {
    .selection{
        display: none;
    }
    .header{
        display:none;
    }
    #search{
        display:block;
        left: 0;
    }
    .mobile-selection{
        @include selections;
    }
    .footer{
        grid-template-columns: auto auto;
    }
    
}
@media screen and (min-width: 600px) {
    #search{
        display: block;
    }
    .mHeader{
        display: none;
    }
    .header{
        font-size: 1.3rem;
    }
    .mobile-selection{
        display: none;
    }
}

