*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

@mixin selections{
    width: 100px;
    font-weight: bold;
    padding: 4px 8px;
    background-color: ghostwhite;
    border-radius: 6px;
    color: rgb(47, 46, 46);
}

.container{
    padding: 10px 25px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .selection{
       @include selections;
       
    }
    .toolBar{
        height: 100%;
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; 
        padding-top: 50px; 
        p{
            color: white;
            font-size: small;
        }
        .close{
            color: #818181;
            font-size: 30px;
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
        }
        .close:hover{
            color: white;
        }

        .newsList{
            li{
                color: white;
                padding:  13px 8px;
                font-size: 17px;
                 color: #818181;
                 cursor: pointer;
            }
            li:hover{
                color: white;
            }
        }
    
    }
    
}
#content-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
     margin-top: 40px;
}
.contents > img{
    
        width: 300px;
        height: 100px;
    
}

@media  screen and (max-width: 600px) {
    .selection{
        display: none;
    }
    .header{
        display:none;
    }
    #search{
        display:block;
        left: 0;
    }
    .mobile-selection{
        @include selections;
    }
    
}
@media screen and (min-width: 600px) {
    #search{
        display: none;
    }
    .mHeader{
        display: none;
    }
    .header{
        font-size: 1.3rem;
    }
    .mobile-selection{
        display: none;
    }
}
